<section class="bg-secondary py-5" id="about">
    <section class="container text-white pt-5">
        <section class="row ">
            <section 
                class="col-sm-12 col-md-12 col-lg-7 col-xl-8 text-center d-flex justify-content-center align-items-center flex-column pb-5 pb-lg-0 order-1 order-lg-2">
                <h2 class="pb-5 text-capitalize fw-normal d-flex align-items-center justify-content-center mb-0">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-person me-3" viewBox="0 0 16 16">
                        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
                    </svg>
                    A little bit about me</h2>
                <p class="fs-5">Hi, my name is Aleksi. I am a beginner front end developer. In the beginning, development was my hobby, because I like to build the interface of the web site.</p>
                <p class="fs-5">I've even helped a few friends build their company's website. Some time ago I decided to help other people with my experience and develop with them.</p>
                <p class="fs-5">You can see the websites I have made in my <a href="#portfolio">portfolio</a></p>
            </section>
            <section class="col-sm-12 col-md-12 col-lg-5 col-xl-4 pb-3 order-2 order-lg-1">
                <section class="d-flex align-items-center h-100">
                    <img src="./assets/images/about/designo.png" alt="About image" class="w-100 rounded-2 sp-class-shadow--about-image"/>
                </section>
            </section>
        </section>
    </section>
</section>