<section class="bg-dark py-5" id="contact">
    <section class="container text-white">
        <h2 class="py-5 text-capitalize fw-normal d-flex align-items-center justify-content-center mb-0">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-envelope me-3" viewBox="0 0 16 16">
                <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
              </svg>
            Contact me
        </h2>
        <section class="row">
            <section class="col-xl-4 offset-xl-4 offset-md-3 col-md-6 text-center">
                <p class="fs-5">
                    In case if you have  some question or suggestion,
                </p>
                <p class="fs-5">
                    please write me on this email address:
                </p>
                <address class="mb-0 mt-5 text-center bg-secondary rounded-1 py-2">
                    <a class="fs-6 text-white" href="mailto: aleksisvaridze@outlook.com">aleksisvaridze@outlook.com</a>
                </address>
            </section>
        </section>
    </section>
</section>