<section class="skills py-5 bg-dark" id="skills">
    <section class="container text-white pt-0 pt-lg-5">
        <section class="row">
            <section class="col-sm-12 col-md-12 col-lg-6 pb-5 pb-lg-0 d-flex align-items-center justify-content-center flex-column">
                <h2 class="pb-5 pt-5 pt-lg-0 text-capitalize fw-normal d-flex align-items-center justify-content-center mb-0">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-bar-chart me-3" viewBox="0 0 16 16">
                        <path d="M4 11H2v3h2v-3zm5-4H7v7h2V7zm5-5v12h-2V2h2zm-2-1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1h-2zM6 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm-5 4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3z"/>
                    </svg>
                    my skills</h2>
                <p class="text-center">As a beginner front end web developer, I learned the basics of various front-end languages and frameworks that allow me to build a website interface.</p>
                <p class="text-center">Every day, new and existing frameworks are updated and created, which does not allow me to relax and motivates to develop and keep up with the times. My modest knowledge allows me to work on interesting and complex projects.</p>
                <p class="text-center">A front-end developer has to study a wide variety of topics. When the knowledge is refined and the developer knows well when to use which technique, the more quality the interface he creates for the website.</p>
            </section>
            <section class="col-sm-12 col-md-12 col-lg-6">
                <div class="progress mb-xl-3 mb-lg-4 mb-md-3 mb-2" style="height: 1.5rem">
                    <div class="bg-secondary progress-bar progress-bar-striped progress-bar-animated px-2 justify-content-between align-items-center flex-row" role="progressbar" aria-label="Default striped example" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                        <span class="text-uppercase fw-semibold">html</span>
                        <span class="fw-bold">80%</span>
                    </div>
                </div>
                <div class="progress mb-xl-3 mb-lg-4 mb-md-3 mb-2" style="height: 1.5rem">
                    <div class="bg-secondary progress-bar progress-bar-striped progress-bar-animated px-2 justify-content-between align-items-center flex-row" role="progressbar" aria-label="Default striped example" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                        <span class="text-uppercase fw-semibold">css</span>
                        <span class="fw-bold">75%</span>
                    </div>
                </div>
                <div class="progress mb-xl-3 mb-lg-4 mb-md-3 mb-2" style="height: 1.5rem">
                    <div class="bg-secondary progress-bar progress-bar-striped progress-bar-animated px-2 justify-content-between align-items-center flex-row" role="progressbar" aria-label="Default striped example" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                        <span class="text-uppercase fw-semibold">javascript</span>
                        <span class="fw-bold">50%</span>
                    </div>
                </div>
                <div class="progress mb-xl-3 mb-lg-4 mb-md-3 mb-2" style="height: 1.5rem">
                    <div class="bg-secondary progress-bar progress-bar-striped progress-bar-animated px-2 justify-content-between align-items-center flex-row" role="progressbar" aria-label="Default striped example" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">
                        <span class="text-uppercase fw-semibold">typescript</span>
                        <span class="fw-bold">30%</span>
                    </div>
                </div>
                <div class="progress mb-xl-3 mb-lg-4 mb-md-3 mb-2" style="height: 1.5rem">
                    <div class="bg-secondary progress-bar progress-bar-striped progress-bar-animated px-2 justify-content-between align-items-center flex-row" role="progressbar" aria-label="Default striped example" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                        <span class="text-uppercase fw-semibold">sass - less</span>
                        <span class="fw-bold">70%</span>
                    </div>
                </div>
                <div class="progress mb-xl-3 mb-lg-4 mb-md-3 mb-2" style="height: 1.5rem">
                    <div class="bg-secondary progress-bar progress-bar-striped progress-bar-animated px-2 justify-content-between align-items-center flex-row" role="progressbar" aria-label="Default striped example" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                        <span class="text-uppercase fw-semibold">react js</span>
                        <span class="fw-bold">60%</span>
                    </div>
                </div>
                <div class="progress mb-xl-3 mb-lg-4 mb-md-3 mb-2" style="height: 1.5rem">
                    <div class="bg-secondary progress-bar progress-bar-striped progress-bar-animated px-2 justify-content-between align-items-center flex-row" role="progressbar" aria-label="Default striped example" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
                        <span class="text-uppercase fw-semibold">angular js</span>
                        <span class="fw-bold">30%</span>
                    </div>
                </div>
                <div class="progress mb-xl-3 mb-lg-4 mb-md-3 mb-2" style="height: 1.5rem">
                    <div class="bg-secondary progress-bar progress-bar-striped progress-bar-animated px-2 justify-content-between align-items-center flex-row" role="progressbar" aria-label="Default striped example" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                        <span class="text-uppercase fw-semibold">git & github</span>
                        <span class="fw-bold">50%</span>
                    </div>
                </div>
                <div class="progress mb-xl-3 mb-lg-4 mb-md-3 mb-2" style="height: 1.5rem">
                    <div class="bg-secondary progress-bar progress-bar-striped progress-bar-animated px-2 justify-content-between align-items-center flex-row" role="progressbar" aria-label="Default striped example" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                        <span class="text-uppercase fw-semibold">bootstrap</span>
                        <span class="fw-bold">80%</span>
                    </div>
                </div>
                <div class="progress" style="height: 1.5rem">
                    <div class="bg-secondary progress-bar progress-bar-striped progress-bar-animated px-2 justify-content-between align-items-center flex-row" role="progressbar" aria-label="Default striped example" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
                        <span class="text-uppercase fw-semibold">tailwindcss</span>
                        <span class="fw-bold">40%</span>
                    </div>
                </div>
            </section>
        </section>
    </section>
</section>